// ••[1]••••••••••••••••••••••••• posts-table.component.scss •••••••••••••••••••••••••••••• //

/* stylelint-disable max-nesting-depth */

@use './../../../mixins'as mixins;

@use './../../../variables'as variables;

.post-container {
	.post-items {

		@include mixins.container;

		.title {
			color: variables.$primary;
		}

		.post {
			list-style: none;
			margin-bottom: 1rem;

			.id {
				color: variables.$secondary;
			}

			.post-title {
				font-weight: variables.$bold-font;
				// text-transform: uppercase; //  Alternative to text pipes
			}

			.post-body {
				font-style: italic;
			}
		}
	}

	.no-posts {

		@include mixins.container;
		font-weight: variables.$bold-font;
	}
}
