<!-- ••[1]••••••••••••••••••••••••• posts-table.component.html •••••••••••••••••••••••••••••• -->

<div class="post-container">
	<!-- NOTE: 'noPostsRef' is a template variable, help you use data from one
		part of a template in another part of the template
		https://angular.io/guide/template-reference-variables
		-->
	<ul class="post-items" *ngIf="posts.length; else noPostsRef">
		<!-- NOTE: 'json' pipe is useful per debugging purposes -->
		<!-- <pre>{{ posts | json }}</pre> -->
		<h1 class="title">Posts</h1>

		<li class="post" *ngFor="let post of posts; let postIndex = index">
			<app-post-item></app-post-item>

			<!-- <span class="id">{{ post.id }} • </span>
			<span class="post-title">{{ post.title | uppercase }}</span
			><br />
			<span class="post-body">{{ post.body | titlecase }}</span> -->
		</li>
	</ul>
	<ng-template #noPostsRef>
		<div class="no-posts">Currently, there are no posts.</div>
	</ng-template>
</div>
